.yellow-background{
    background-color:rgb(255, 187, 0) ;
    color: #000;
}
.black-background{
    background-color: rgb(0,0,0,0);
    color: #fff;
}
.white-background{
    background-color: #fff;
    color: #000;
}
.yellow-background:hover{
    border: 2px solid rgb(255, 187, 0);
    color: rgb(255, 187, 0);
    background: none;
}
.black-background:hover{
    color: rgb(255, 187, 0);
    background: rgb(0,0,0,1);
}
.white-background:hover{
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
    background: none;
}
.button{
    border-radius: var(--_1hrp33e1z);
    padding: 10px;
    border: 2px solid #000;
    display: inline-flex;
    font-size: var(--_1hrp33e15);
    font-weight: var(--_1hrp33e1e);
    line-height: var(--_1hrp33e1m);
    padding: var(--_1hrp33es) var(--_1hrp33et);
    cursor: pointer;
}